{% load thumbnail %}
{% load staticfiles %}

<div class="row">
    <div class="col-sm-5">
        <div class="image_container">
            {% with image=product.primary_image.original %}
                {% thumbnail image 220x165 crop as thumb %}
                    <a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="thumbnail"></a>
            {% endwith %}
        </div>
    </div>
    <div class="col-sm-10">
        <h2><a href="{{ product.get_absolute_url }}">{{ product.get_title }}</a></h2>
        <span><strong>Price:</strong> {{ product.get_values.price }}</span>
        {% include "catalogue/partials/stock_record.html" %}
        {% include "catalogue/reviews/partials/review_stars.html" %}
    </div>
</div>

<hr>
