{% load thumbnail %}
{% load i18n %}

<header ng-controller="Header">
    <div class="row top">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-header-menu" aria-expanded="false">
                        <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% include "partials/brand.html" %}
                </div>

                <div class="collapse navbar-collapse" id="top-header-menu">
                    {% if current_site.info.phone_numbers.all %}
                        {% with count_phone_numbers=current_site.info.phone_numbers.count phone_numbers_slice=current_site.info.phone_numbers.all|slice:"4:" %}
                            <ul class="nav navbar-nav">
                                {% for phone in current_site.info.phone_numbers_slice %}
                                    <li><a href="tel:{{ phone.phone_number }}">{{ phone.phone_number.as_international }}</a></li>
                                {% endfor %}

                                {% if phone_numbers_slice %}
                                    <li class="dropdown">
                                        <button type="button" class="btn btn-default btn-inline-block btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="glyphicon glyphicon-earphone"></span>
                                            {% trans 'Phones' %}
                                            <span class="sr-only">{% trans 'Phones' %}</span><span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% for phone in phone_numbers_slice %}
                                                <li><a class="text-white" href="tel:{{ phone.phone_number }}">
                                                    {{ phone.phone_number.as_international }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endwith %}
                    {% endif %}
                    {% block mini_basket %}{% include "partials/mini_basket.html" %}{% endblock %}
                </div>
            </div>
        </nav>
    </div>
    <div class="row center">
        <div class="col-xs-10 col-sm-5">
            <a href="{% url 'promotions:home' %}" class="logo"></a>
        </div>
        <div class="col-xs-12 col-sm-19 pages">
            {% if flatpages_header %}
                <nav class="navbar navbar-primary">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            {% with flatpages_header.0 as first_page %}
                                <a class="navbar-brand" href="{{ first_page.get_absolute_url }}">{{ first_page.title }}</a>
                            {% endwith %}
                        </div>
                        <div id="navbar" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                {% for page in flatpages_header|slice:'1:4' %}
                                    <li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endif %}

            <div class="input-group input-group-lg search">
                <input type="text" ng-model="search" ng-change="update_products()" data-toggle="dropdown"
                       class="form-control" placeholder="{% trans 'You are looking for something' %}?">

                <div class="input-group-btn">
                    {% verbatim %}
                    <button ng-href="/search/?q={{ search_string }}" class="btn btn-default dropdown-toggle" type="button" id='search-show'>
                        <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="search-show" name="search-menu" ng-model="display" ng-style="{ 'display': display }">
                        <div class="item col-xs-24" ng-repeat="product in searched_products">
                            <a href="{{ product.href }}">
                                <div class="col-xs-4">
                                    <img src="{{ product.main_image }}" class="img-responsive" />
                                </div>
                                <div class="col-xs-20">
                                    <div class="title">
                                        {{ product.title }}
                                    </div>
                                    <div class="price">{{ product.price }}</div>
                                </div>
                                <div class="col-xs-1 icon">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </div>
                            </a>
                        </div>
                        <div class="item col-xs-24 text-center">
                            <a href="/search/?q={{ search_string }}">
                                <div class="col-xs-24">
                                    <div class="title">
                                        All search results
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endverbatim %}
                </div>
            </div>
        </div>
    </div>
    <div class="bottom row">
        <nav class="yamm navbar navbar-primary">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_menu" aria-expanded="false" aria-controls="navbar_menu">
                        <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <span class="main" aria-hidden="true"></span>{% trans "Home" %}
                    </a>
                </div>
                {% if categories %}
                    <div id="navbar_menu" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            {% for category in categories %}
                                <li class="dropdown">
                                    <a role="button" class="dropdown-toggle" data-toggle="dropdown"
                                       title="{{ category.name }}">
                                        {% if category.icon %}
                                            <img src="{{ category.icon|thumbnail_url:'category_icon' }}"
                                                 alt="{{ category.name }}"
                                                 title="{{ category.name }}" class="img-responsive icon"/>
                                        {% endif %}
                                        {{ category.name }}
                                    </a>
                                    <div class="arrow"></div>
                                    <div class="dropdown-menu stop-propagation" role="menu" aria-labelledby="dropdownMenu">
                                        <div class="yamm-content">
                                            <div class="col-xs-6">
                                                <ul class="list-group nav nav-tabs nav-stacked" id="categories" role="tablist">
                                                    {% for category in category.children.all %}
                                                        <li role="presentation" class="list-group-item{% if forloop.first %} active{% endif %}">
                                                            <a data-toggle="tab" role="tab" class="text-left" href="#{{ category.slug }}">
                                                                <div class="wrapper pull-left">{{ category.name }}</div>
                                                                <span class="glyphicon glyphicon-menu-right pull-right"></span>
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                    <li class="list-group-item" role="presentation">
                                                        <a href="{{ category.get_absolute_url }}">
                                                            {{ category.name }}
                                                            <span class="glyphicon glyphicon-menu-right"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="tab-content">
                                                    {% for category in category.children.all %}
                                                        <div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ category.slug }}">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                                                </div>
                                                                <div class="panel-body">
                                                                    <ul class="list-group">
                                                                        {% for category in category.children.all %}
                                                                            <li class="list-group-item text-left">
                                                                                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            {% if category.image_banner and category.link_banner %}
                                                <div class="col-xs-12 text-right image">
                                                    <img src="{{ category.image_banner|thumbnail_url:"category_banner" }}" class="img-responsive pull-right" title="" alt=""/>
                                                    <a class="btn btn-default btn-menu btn-xs" href="{{ category.link_banner }}">{% trans "Хочу" %}</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </nav>
    </div>
</header>
