{% load history_tags %}
{% load basket_tags %}
{% load basket %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}
{% load product %}

{% if request.basket.num_lines %}
    {% for line in request.basket.all_lines %}
        <div class="col-xs-24 item">
            <div class="row">
                <div class="col-xs-5">
                    <a href="{{ line.product.get_absolute_url }}" title="{{ line.product.title }}">
                        <img src="{{ line.product.primary_image.original|thumbnail_url:'basket_quick' }}"
                             alt="{{ line.product.title }}" title="{{ line.product.title }}" />
                    </a>
                </div>
                <div class="col-xs-13">
                    <div class="title">
                        <a href="{{ line.product.get_absolute_url }}" title="{{ line.product.title }}">{{ line.product.title }}</a>
                    </div>
                    <div class="short-desc">
                        {% regroup line.attributes_feature by parent as attributes %}

                        <small>
                            {% for attribute in attributes %}
                                {{ attribute.grouper }}:
                                {{ attribute.list | join:', ' }}
                            {% endfor %}
                        </small>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="align-right"><strong>{% trans "Qty" %}:</strong> {{ line.quantity }}</div>
                    <div class="price_color align-right">
                        <strong>{% trans 'Price' %}:</strong>
                        {{ line.unit_price_excl_tax|currency:request.basket.currency }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="col-xs-24 text-right">
        <p class="align-right">
            {% if request.basket.is_tax_known %}
                <strong>{% trans "Total" %}:</strong> {{ request.basket.total_incl_tax|currency:request.basket.currency }}
            {% else %}
                <strong>{% trans "Total" %}:</strong> {{ request.basket.total_excl_tax|currency:request.basket.currency }}
            {% endif %}
        </p>

        <a href="{% url 'basket:summary' %}" class="btn btn-success btn-md">{% trans "View basket" %}</a>
        <a href="{% url 'checkout:index' %}" class="btn btn-success btn-md">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            {% trans "Checkout" %}
        </a>
    </div>
{% else %}
    <div class="col-xs-24">{% trans "Your basket is empty." %}</div>
{% endif %}
