{% load basket %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% basket_form_with_attributes request product as basket_form %}

<div class="wrapper-btn-primary col-xs-24">
    <form id="add_to_basket_form" action="{% url 'basket:add_with_attributes' pk=product.pk  %}" method="post">
        {% csrf_token %}
        {% include "partials/form_fields.html" with form=basket_form %}
        <button {% if not session.availability.is_available_to_buy %} disabled {% endif %}
                type="submit" class="btn btn-block btn-md btn-success btn-add-to-basket"
                value="{% trans "Buy" %}" data-loading-text="{% trans '...' %}">
            {% trans 'Buy' %}
        </button>
    </form>
</div>

{#    {% if has_active_alert %}#}
{#        <p>{% trans "You have an active stock alert for this product." %}</p>#}
{#    {% else %}#}
{#        <form id="alert_form" method="post" action="{% url 'customer:alert-create' pk=product.id %}" class="add-to-basket">#}
{#            {% csrf_token %}#}
{#            <p>{% trans "You can get an email alert when this product is back in stock." %}</p>#}
{#            {% include "partials/form_fields.html" with form=alert_form %}#}
{#            <button type="submit" class="btn btn-lg btn-info btn-add-to-basket" data-loading-text="{% trans 'Submitting...' %}">{% trans "Notify me" %}</button>#}
{#        </form>#}
{#    {% endif %}#}
