{% load i18n %}

{% if user.is_authenticated %}
    <a href="" ng-click="change_wishlist()">
        <span ng-class="active"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></span>
        <span class="glyphicon-class" ng-if="active == 'none'">{% trans "Add to wish list" %}</span>
        <span class="glyphicon-class" ng-if="active == 'active'">{% trans "Remove from wish list" %}</span>
    </a>
{% else %}
    <span class="glyphicon glyphicon-heart" disabled="disabled" aria-hidden="true" title="{% trans 'Please login to add products to a wish list.' %}"></span>
    <span class="glyphicon-class">{% trans 'Add to wish list' %}</span>
{% endif %}
