{% load reviews_tags %}
{% load display_tags %}
{% load i18n %}
{% load djangular_tags %}
{% load product %}

<div class="panel panel-default characteristics" id="characteristics">
    <div class="panel-heading text-center">
        {% trans 'Characteristics' %}:
    </div>
    <div class="panel-body">
        <div class="row option">
            <div class="col-xs-12">
                {% trans "ISBN" %}:
            </div>
            <div class="col-xs-12 values">
                {{ product.id }}
            </div>
        </div>
        {% regroup product.characteristics.all by parent as characteristics %}

        {% for characteristic in characteristics %}
            <div class="row option">
                <div class="col-xs-12">
                    {{ characteristic.grouper }}:
                </div>
                <div class="col-xs-12 values">
                    {{ characteristic.list | join:', ' }}
                </div>
            </div>
        {% endfor %}

        {% iffeature "reviews" %}
            <div class="row option">
                <div class="col-xs-12">
                    {% trans "Number of reviews" %}
                </div>
                <div class="col-xs-12 values">
                    {{ product.num_approved_reviews }}
                </div>
            </div>
        {% endiffeature %}
    </div>
</div>
