{% load display_tags %}
{% load i18n %}
{% load ellipses_pagination %}

{% if paginator.num_pages > 1 %}
    <div class="col-xs-10 text-right">
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li>
                        {% for sorting_url, text, is_active, link in sort_types %}
                            {% if is_active %}
                                <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            {% endif %}
                        {% endfor %}
                        <span aria-hidden="true">&laquo;</span></a>
                    </li>
            {% endif %}
            {% for page_num in page_obj|ellipses_page_range %}
                {% if page_num == page_obj.number%}
                    {% for sorting_url, text, is_active, link in sort_types %}
                        {% if is_active %}
                            <li class="active"><a href="?page={{ page_num }}&{{ link }}">{{ page_num }}</a></li>
                            {% if page_num_next %}
                                <li class="active"><a href="?page={{ page_num_next }}&{{ link }}">{{ page_num_next }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% elif page_num == None %}
                    <li><a>...</a></li>
                {% else %}
                    {% for sorting_url, text, is_active, link in sort_types %}
                        {% if is_active %}
                            {% if page_num != page_num_next %}
                                <li><a href="?page={{ page_num }}&{{ link }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="next">
                    {% for sorting_url, text, is_active, link in sort_types %}
                        {% if is_active %}
                            <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        {% endif %}
                    {% endfor %}
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
        </nav>
    </div>
{% endif %}

