{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}
{% load djangular_tags %}

{% block product %}
    <div class="thumbnail text-center">
        <div class="title">
            {% block product_title %}
                <a ng-attr-href="product.absolute_url" href="{{ product.get_absolute_url }}" {# ng-bind="product.title" #}
                   title="{{ product.get_title }}">
                    {{ product.get_title|truncatewords:7 }}
                </a>
            {% endblock %}
        </div>
        {% block product_image %}
            <div class="image_container">
                {% with image=product.primary_image.original %}
                    {% thumbnail image 220x165 crop as thumb %}
                    <a class="image" ng-attr-href="product.absolute_url" href="{{ product.get_absolute_url }}">
                        <img src="{{ thumb.url }}" ng-bind="product.title" alt="{{ product.get_title }}" title="{{ product.get_title }}">
                    </a>
                {% endwith %}
            </div>
        {% endblock %}
        <div class="caption">
            <div class="model">{% trans 'Vendor code' %}: {{ product.id }}</div>
            {% include 'catalogue/partials/price_product_list.html' %}
        </div>
        <div class="mask">
            <div class="title">
                <a ng-attr-href="product.absolute_url" href="{{ product.get_absolute_url }}">
                    {{ product.get_title|truncatewords:7 }}
                </a>
            </div>
            <div class="filters">
                {% regroup product.characteristics.all by parent as characteristics %}

                {% for characteristic in characteristics %}
                    <div class="rows">
                        <div class="option_name">
                            <span>{{ characteristic.grouper }}</span>
                        </div>

                        {% for value in characteristic.list %}
                            <div class="option_value">
                                <span>{{ value.title }}</span>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {% include 'catalogue/partials/price_product_list.html' with mask=1 %}
        </div>
    </div>
{% endblock %}
