{% load i18n %}

<b>{% trans 'Order date:' %}</b><time>{% now 'd.m.Y' %}</time> <br>

{% if answer %}<div>{{ answer }}</div>{% endif %}
<br>
<div><strong>{% trans 'Name:' %}</strong> {{ object.name }}</div>
<div><strong>{% trans 'Phone number:' %}</strong> {{ object.phone_number }}</div>
<div><strong>{% trans 'Email:' %}</strong> {{ object.email }} </div>
<div><strong>{% trans 'Comment:' %}</strong> {{ object.comment }} </div>
<div><strong>{% trans 'Product:' %}</strong> <a href="http://{{ current_site.domain }}{{ object.product.get_absolute_url }}">{{ object.product.title }}</a> </div>
