{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}
{% load catalogue %}

{% purchase_info_for_product request product as session %}

{% assign price_color 'price_color' %}

{% if mask %}
    {% assign price_color 'price_color_white' %}
{% endif %}

<div class="{{ price_color }}">
    {% if session.price.exists %}
        {% if session.price.excl_tax == 0 %}
            {% trans "Free" %}
{#        {% elif session.price.is_tax_known %}#}
{#            {{ session.price.incl_tax|currency:session.price.currency }}#}
        {% else %}
            {{ session.price.excl_tax|currency:session.price.currency }}
        {% endif %}
    {% else %}
        {% if verbose %}
            {{ session.availability.message }}
        {% else %}
            {{ session.availability.short_message }}
        {% endif %}
    {% endif %}
</div>
