{% load i18n %}
{% load djangular_tags %}
{% load catalogue %}

{% angularjs ng %}
    <div class="panel panel-default" {% if ng %} ng-repeat="attribute in attributes" ng-cloak="" {% endif %}>
        {% if ng %}
            <div class="alert alert-warning" role="alert" ng-if="attribute.error" ng-bind="attribute.error" ng-cloak="">
            </div>
        {% endif %}
        <div class="panel-heading">
            <div class="row option">
                <div class="col-xs-14 name" {% if ng %} ng-bind="attribute.title" {% endif %}>
                    {% if not ng %}{{ attribute.title }}{% endif %}
                </div>
                {% if ng %}
                    <div class="col-xs-10 pull-right values" ng-if="attribute.values.length">
                        {% include 'catalogue/product/attributes/attribute_values.html' with ng=1 %}
                    </div>
                {% elif attribute.values %}
                    <div class="col-xs-10 pull-right values">
                        {% include 'catalogue/product/attributes/attribute_values.html' with ng=0 %}
                    </div>
                {% endif %}
            </div>

            {% if ng %}
                {% include 'catalogue/product/attributes/attributes_all_images.html' with ng=1 %}
            {% else %}
                {% assign selected_val attribute.selected_val.0 %}

                {% if selected_val.features_by_product %}
                    {% with selected_val.features_by_product|first as feature_product %}
                        {% include 'catalogue/product/attributes/attributes_all_images.html' with ng=0 %}
                    {% endwith %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endangularjs %}