{% load i18n %}
{% load thumbnail %}
{% load djangular_tags %}

{% angularjs ng %}
    <div class="row option more-image" {% if ng %} ng-if="attribute.selected_val.images.length"{% endif %}>
        <div class="col-xs-14 btn-radio-group">
            {% if ng %}
                {% include 'catalogue/product/attributes/product_primary_images.html' %}
            {% else %}
                {% for product in feature_product.product_with_images.all|slice:":5" %}
                    {% include 'catalogue/product/attributes/product_primary_images.html' %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-xs-10">
            <button class="btn btn-default btn-block" role="button"
                    {% if ng %} ng-click="attr_prod(attribute.selected_val)" {% endif %}
                    data-toggle="modal" data-target="#attribute-{{ attribute.pk }}">
                {% trans 'View all fabrics' %}
            </button>
            {% include 'catalogue/product/attributes/attribute_modal.html' %}
        </div>
    </div>
{% endangularjs %}
