{% load i18n %}
{% load thumbnail %}
{% load djangular_tags %}
{% load staticfiles %}

<div class="modal fade" id="attribute-{{ attribute.pk }}" tabindex="-1" role="dialog"
     aria-labelledby="image of {{ attr_first.title }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="{% trans 'Close' %}"
                        aria-label="{% trans 'Close' %}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{% trans 'All fabrics' %}</h4>
            </div>
            <div class="modal-body">
                <div class="btn-group" data-toggle="buttons">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default"
                             ng-repeat="product in prod_images[product.attributes['{{ attribute.pk }}'].pk]">
                            <div class="panel-heading" role="tab" >
                                <div class="panel-title">
                                    <a role="button" ng-bind="product.title"
                                       data-toggle="collapse" data-parent="#accordion"
                                       {% verbatim %} href="#product-{{ product.pk }}" aria-expanded="true"
                                       aria-controls="product-{{ product.pk }}" {% endverbatim %}
                                       title="{% trans 'Click to expand' %}" class="stop-propagation">
                                    </a>
                                </div>
                            </div>

                            <div {% verbatim %} aria-labelledby="heading-{{ product.pk }}"
                                 id="product-{{ product.pk }}" {% endverbatim %}
                                 class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-6 image" ng-repeat="image in product.images">
                                            <a data-gallery {% verbatim %} ng-href="{{ image.url }}"
                                               title="{{ image.title }}" {% endverbatim %}>
                                                <img {% verbatim %} ng-src="{{ image.thumb_url }}" alt="{{ image.caption }}"
                                                     title="{{ image.caption }}" {% endverbatim %}>
                                            </a>
                                            <span class="text-center" ng-bind="image.caption"></span>
                                            <div class="wrapp-button">
                                                <label class="btn btn-success btn-block">
                                                    <input ng-model="selected_image['{{ attribute.pk }}'].image" autocomplete="off"
                                                           name="{{ attribute.pk }}"
                                                           {% verbatim %} value="{{ image }}" {% endverbatim %} type="radio">
                                                    {% trans 'Choose' %}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            {% trans 'Close' %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>