{% load i18n %}
{% load djangular_tags %}
{% load catalogue %}

{% angularjs ng %}
    <div class="dropdown btn-group bootstrap-select" {% if ng %} ng-click="click_dropdown('{{ attribute.pk }}', $event)" {% endif %}>
        <button class="btn btn-default dropdown-toggle btn-block" type="button" data-toggle="dropdown">
            <span class="title" {% if ng %} ng-bind="attribute.selected_val.title" {% endif %}>
                {% if not ng %}
                    {% assign selected_val attribute.selected_val.0 %}
                    {% if selected_val %}
                        {{ selected_val.title }}
                    {% else %}
                        {{ not_selected }}
                    {% endif %}
                {% endif %}
            </span>
            <span class="caret"></span>
            <span class="attr-pk" {% if ng %} ng-bind="attribute.selected_val.pk" {% endif %}></span>
        </button>

        <div class="dropdown-menu pull-right open">
            <div class="bs-searchbox">
                <form>
                    <input {% if ng %}ng-model="query_attr[attribute.pk]"
                           ng-change="'attribute.non_standard && product.non_standard ? search(attribute.pk)'" {% endif %}
                           type="text"
                           placeholder="{% trans "Filter" %}"
                           class="form-control">
                </form>
            </div>

            {% with 'role="menu" class="dropdown-menu inner"' as el_attr %}
                {% if ng %}
                    <ul {{ el_attr }} ng-if="attribute.values">
                        {% include 'catalogue/product/attributes/list_values.html' %}

                        {% if object.non_standard_price_retail and attribute.features_by_product.0.non_standard %}
                            <li role="separator" class="divider"
                                ng-if="product.custom_values['{{ attribute.pk }}'].length ||
                    product.custom_value['{{ attribute.pk }}'] !== null">
                            </li>
                            <li role="presentation" class="query"
                                ng-if="(product.custom_values['{{ attribute.pk }}'] |
                    search_by_title: product.custom_value['{{ attribute.pk }}'].title) == false">
                                <a href="#" ng-click="update_price_with_custom_val('{{ attribute.pk }}')"
                                   ng-bind="product.custom_value['{{ attribute.pk }}'].title">
                                </a>
                            </li>
                            <li role="presentation" class="custom"
                                ng-repeat="value in product.custom_values['{{ attribute.pk }}'] |
                    filter:{title: query_attr['{{ attribute.pk }}']} | orderBy: 'title' track by $index"
                                ng-if="product.custom_values['{{ attribute.pk }}'].length"
                                ng-class='{"selected active": value.title == product.attributes["{{ attribute.pk }}"].title}'>
                                <a href="#" ng-click="update_price_with_custom_val('{{ attribute.pk }}', value)" ng-bind="value.title">
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% else %}
                    <ul {{ el_attr }}>
                        {% for value in attribute.values %}
                            {% include 'catalogue/product/attributes/list_values.html' %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endangularjs %}
