{% load i18n %}
{% load thumbnail %}
{% load djangular_tags %}
{% load staticfiles %}

{% angularjs ng %}
    <div class="panel panel-default" {% if ng %} ng-repeat="product in attribute.selected_val.products" {% endif %}>
        <div class="panel-heading" role="tab" >
            <div class="panel-title">
                <a role="button" ng-click="attr_prod_images(attribute.selected_val, product)"
                        {% if ng %} ng-bind="product.title" {% endif %}
                   data-toggle="collapse" data-parent="#accordion"
                   href="#product-{{ product.pk }}"
                   aria-controls="product-{{ product.pk }}"
                   ng-attr-title="{% trans 'Click to expand' %} - {{ product.title }}"
                   {% if not ng %} title="{{ product.get_title }}" {% endif %} class="stop-propagation">
                    {% if not ng %}{{ product.get_title }}{% endif %}
                </a>
            </div>
        </div>

        <div aria-labelledby="heading-{{ product.pk }}" id="product-{{ product.pk }}" class="panel-collapse collapse"
             role="tabpanel">
            <div class="panel-body">
                <div class="progress" ng-if="product.sent_signal == true">
                    <div class="progress-bar progress-bar-striped active"
                         role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">{% trans 'Loading...' %}</span>
                    </div>
                </div>

                <div class="row" ng-if="product.images.length" id="links">
                    <div class="col-xs-6 image" ng-repeat="image in product.images">
                        <a data-gallery ng-href="{{ image.original_url }}" title="{{ image.title }}">
                            <img ng-src="{{ image.thumb_url }}" alt="{{ image.caption }}" title="{{ image.caption }}">
                        </a>
                        <span class="text-center" ng-bind="image.caption"></span>
                        <div class="wrapp-button">
                            <label class="btn btn-success btn-block">
                                <input ng-model="selected_image['{{ attribute.pk }}'].image" autocomplete="off"
                                       name="attr-{{ attribute.pk }}-value" value="{{ image }}" type="radio">
                                {% trans 'Choose' %}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endangularjs %}
