{% load i18n %}
{% load thumbnail %}
{% load djangular_tags %}

{% angularjs ng %}
    <div class="radio-btn pull-left" {% if ng %} ng-repeat="product in attribute.selected_val.images" {% endif %}>
        <label>
            <div class="image">
                {% if not ng %}
                    {% thumbnail product.primary_image.original 30x30 crop as thumb %}
                {% endif %}
                <img ng-src="{{ product.thumb_url }}" ng-attr-title="{{ product.title }}" ng-attr-alt="{{ product.title }}"
                        {% if not ng %}
                     src="{{ thumb.url }}" alt="{{ product.title }}" title="{{ product.title }}"
                        {% endif %}>
            </div>
            <input type="radio" ng-value="product.pk" {% if ng %} ng-model="product_images.pk" {% endif %} >
        </label>
    </div>
{% endangularjs %}