{% extends 'layout.html' %}
{% load staticfiles %}
{% load i18n %}
{% load basket %}
{% load category_tags %}
{% load product_tags %}
{% load fork_promotion_tags %}

{% block extrascripts %}
    {{ block.super }}
    <script src="{% static 'src/js/custom.js' %}"></script>
    <script src="{% static 'bower_components/lightslider/dist/js/lightslider.min.js' %}"></script>
{% endblock extrascripts %}

{% block headertext %}
    {{ current_site.name }}
    {% if current_site.info.shop_short_desc %}
        - {{ current_site.info.shop_short_desc }}
    {% endif %}
{% endblock %}

{% block promotions %}
    <div id="promotions" class="col-xs-24 items">
        <ul class="nav nav-tabs nav-justified" id="home_tabs" role="tablist">
            {% for promotion in promotions_page %}
                {% if promotion.get_products %}
                    <li role="presentation" {% if forloop.first %}class="active"{% endif %}>
                        <a data-toggle="tab" role="tab" href="#{{ promotion.id }}" id="{{ promotion.id }}-tab">{{ promotion.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for promotion in promotions_page %}
                <div role="tabpanel" id="{{ promotion.id }}" class="tab-pane fade in {% if forloop.first %}active{% endif %}" aria-labelledby="{{ promotion.id }}-tab">
                    <div class="lightSlider">
                        {% for product in promotion.get_products %}
                            <div class="col-sm-6 col-md-6">
                                {% render_product product %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
