<div class="lSSlideWrapper usingCss">
    <div class="lightSlider lsGrab lSSlide" style="width: 4312.5px; transform: translate3d(-1150px, 0px, 0px); height: 393px; padding-bottom: 0%;">
        <div class="col-sm-6 col-md-6 clone left" style="width: 277.5px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <a href="#" class="image"><img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="..."></a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 clone left" style="width: 277.5px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <a href="#" class="image"><img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="..."></a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 clone left" style="width: 277.5px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <a href="#" class="image"><img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="..."></a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 clone left" style="width: 277.5px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <a href="#" class="image"><img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="..."></a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 lslide active" style="width: 277.5px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <a href="#" class="image"><img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="..."></a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 lslide" style="width: 277.5px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <a href="#" class="image"><img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="..."></a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 lslide" style="width: 277.5px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <a href="#" class="image"><img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="..."></a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 lslide" style="width: 277.5px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <a href="#" class="image"><img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="..."></a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 lslide" style="width: 277.5px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <a href="#" class="image"><img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="..."></a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 lslide" style="width: 277.5px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <a href="#" class="image"><img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="..."></a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 lslide" style="width: 277.5px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <a href="#" class="image"><img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="..."></a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 clone right" style="width: 277.5px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <a href="#" class="image"><img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="..."></a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 clone right" style="width: 277.5px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <a href="#" class="image"><img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="..."></a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 clone right" style="width: 277.5px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <a href="#" class="image"><img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="..."></a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 clone right" style="width: 277.5px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <a href="#" class="image"><img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="..."></a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="#">Кровать АйПИ групп "Европа 4", без матраса Кровать АйПИ групп "Европа 4", без матраса</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lSAction"><a class="lSPrev"></a><a class="lSNext"></a></div>
</div>




<div class="lSSlideWrapper usingCss" style="transition-duration: 400ms;">
    <div class="lightSlider lsGrab lSSlide" ng-show="recommends.length" style="width: 12.5px; transform: translate3d(0px, 0px, 0px); padding-bottom: 0%;">

        <!-- ngRepeat: recommend in recommends -->
        <div class="col-sm-6 col-md-6 ng-scope active" ng-repeat="recommend in recommends" style="width: 0px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#" class="ng-binding">Кровать эмма миксмебель</a>
                    </div>
                    <a href="" class="image">
                        <img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="...">
                    </a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="" class="ng-binding">Кровать эмма миксмебель</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end ngRepeat: recommend in recommends -->
        <div class="col-sm-6 col-md-6 ng-scope" ng-repeat="recommend in recommends" style="width: 0px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#" class="ng-binding">Диван айпи групп bruno</a>
                    </div>
                    <a href="" class="image">
                        <img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="...">
                    </a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="" class="ng-binding">Диван айпи групп bruno</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end ngRepeat: recommend in recommends -->
        <div class="col-sm-6 col-md-6 ng-scope" ng-repeat="recommend in recommends" style="width: 0px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#" class="ng-binding">Диван рим росса</a>
                    </div>
                    <a href="" class="image">
                        <img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="...">
                    </a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="" class="ng-binding">Диван рим росса</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end ngRepeat: recommend in recommends -->
        <div class="col-sm-6 col-md-6 ng-scope" ng-repeat="recommend in recommends" style="width: 0px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#" class="ng-binding">Кровать атлант 19</a>
                    </div>
                    <a href="" class="image">
                        <img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="...">
                    </a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="" class="ng-binding">Кровать атлант 19</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end ngRepeat: recommend in recommends -->
        <div class="col-sm-6 col-md-6 ng-scope" ng-repeat="recommend in recommends" style="width: 0px; margin-right: 10px;">
            <div class="thumbnail text-center">
                <div class="caption">
                    <div class="title">
                        <a href="#" class="ng-binding">Тумба прикроватная фурор</a>
                    </div>
                    <a href="" class="image">
                        <img src="/media/images/make_up/banner_image.png" class="img-responsive" alt="...">
                    </a>
                    <div class="model">Артикул 1111</div>
                    <div class="price"><strong>Цена:</strong>5555</div>
                    <p><a href="#" class="btn btn-primary" role="button">Купить</a></p>
                </div>
                <div class="mask">
                    <div class="title">
                        <a href="" class="ng-binding">Тумба прикроватная фурор</a>
                    </div>
                    <div class="filters">
                        <div class="rows">
                            <div class="option_name">
                                <span>По типу:</span>
                            </div>

                            <div class="option_value"><span>Кровати с мягким изголовьем</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>По размеру:</span>
                            </div>
                            <div class="option_value"><span>Полуторные,Двухспальные</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Каркас:</span>
                            </div>

                            <div class="option_value"><span>Металлический</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name">
                                <span>Подъёмный механизм:</span>
                            </div>

                            <div class="option_value"><span>нет</span></div>
                        </div>
                        <div class="rows">
                            <div class="option_name"><span>Ящики:</span></div>
                            <div class="option_value"><span>нет</span></div>
                        </div>
                    </div>
                    <a href="#">Смотреть все характеристики</a>
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary" role="button">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end ngRepeat: recommend in recommends -->

    </div>
    <div class="lSAction" style="display: block;">
        <a class="lSPrev"></a><a class="lSNext"></a>
    </div>
</div>