{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load i18n compress %}
{% load product %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js"> <!--<![endif]-->
<head>
    <title>{% if display_version %}[{% trans "Build" %} {{ version }}] {% endif %}{% block title %}{{ shop_name }} - {{ shop_tagline }}{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="created" content="{% now "jS M Y h:i" %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="viewport" content="{% block viewport %}width=device-width{% endblock %}" />
    <meta name="robots" content="NOARCHIVE,NOCACHE" />
    {% block meta %}{% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    {% block favicon %}
        <link rel="shortcut icon" href="{% static "oscar/favicon.ico" %}" />
    {% endblock %}

    {% block extrahead %}{% endblock %}

    {% block tracking %}
        {# Default to using Google analytics #}
        {% include "partials/google_analytics.html" %}
    {% endblock %}
</head>

<body id="{% block body_id %}default{% endblock %}" data-spy="scroll" data-target=".scrollspy" class="{% block body_class %}default{% endblock %}">
{# Main content goes in this 'layout' block #}
{% block layout %}{% endblock %}

{% block before_end_body %}{% endblock %}


{% comment %}
    Scripts loaded from a CDN.  These can't be wrapped by the 'compress' tag and so we
    use a separate block for them.
{% endcomment %}

{% block cdn_scripts %}{% endblock %}

{% if debug %}
    {% block mainstyles %}
        {% comment %}
            We use an inner block to work-around the fact that django-compressor doesn't work with
            template inheritance.  Ie, we can't just wrap the {% block mainstyles %} with compress tags and
            expect it to compress CSS files added in child templates.
            {% endcomment %}
        {% block styles %}
            <link rel="stylesheet" type="text/css" href="{% static 'bower_components/lightslider/dist/css/lightslider.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static "bower_components/yamm/assets/css/yamm.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "djangular/css/bootstrap3.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "djangular/css/styles.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static 'oscar/css/styles.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'build/css/main.css' %}">
        {% endblock %}
    {% endblock %}
    {# Additional CSS - specific to certain pages #}
    {% block extrastyles %}{% endblock %}

    {# Local scripts #}
    {% block scripts %}
        <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static "bower_components/angular/angular.js" %}" type="text/javascript"></script>
        <script src="{% static 'djangular/js/django-angular.js' %}"></script>
        <script src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
        <script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
        <script src="{% static 'bower_components/lightslider/dist/js/lightslider.min.js' %}"></script>
        <script src="{% static 'src/js/custom.js' %}"></script>
        {#    <script src="{% static "bower_components/bootstrap-select/dist/js/bootstrap-select.min.js" %}"></script>#}
        <script src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
        <script src="{% static 'src/js/common.js' %}"></script>
        <script src="{% static 'oscar/js/oscar/ui.js' %}"></script>
    {% endblock %}

    {# Additional JS scripts #}
    {% block extrascripts %}{% endblock %}
{% else %}
    <link rel="stylesheet" type="text/css" href="{% static "build/css/style.min.css" %}">
    <script async src="{% static 'build/js/script.min.js' %}"></script>
{% endif %}

{# Block for body onload functions #}
<script type="text/javascript">
    $(function() {
        {% block onbodyload %}{% endblock %}
    });
</script>

{# Page meta-data - this is populated by the 'metadata' template context processor #}
<!-- {% trans "Version:" %} {{ version }} -->
</body>
</html>
