{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Sorry!' %} | {{ block.super }}
{% endblock %}

{% block headertext %}
    {% trans "Sorry!" %}
{% endblock %}

{% block error_heading %}{% trans 'Sorry!' %}{% endblock %}
{% block error_message %}{% endblock %}

{% block content %}
    <div class="col-xs-24 500">
        <p>
            <a class="btn btn-primary btn-lg" onclick="javascript:history.go(-1);">{% trans 'Return to previous page' %}</a>
            <a class="btn btn-primary btn-lg" href="{{ homepage_url }}">{% trans "Go to homepage" %}</a>
        </p>
    </div>
{% endblock %}
