{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}
{% load promotion_tags %}
{% load thumbnail %}
{% load i18n %}

{% block extrascripts %}
    <script src="{% static 'build/js/common/app.js' %}"></script>
{% endblock extrascripts %}

{% block layout %}
    {# Top-horizontal bar with account, notifictions, dashboard links #}
    {% if user.is_authenticated and user.is_staff %}
        {% include "partials/nav_accounts.html" %}
    {% endif %}

    <div class="container page" {% block ngApp %}ng-app="soloha"{% endblock ngApp %}>
        {# Site logo/title, mini-basket, browse dropdown and searchbox #}
        {% block header %}
            <header ng-controller="Header">
                <div class="row top">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-14 col-sm-12 col-md-14 phones">
                        <span class="hidden-xs hidden-sm">(099)561-01-32 (098)110-04-60 (063)597-47-55 (044)362-19-40</span>

                        <div class="btn-group visible-sm visible-xs">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-8 col-md-6 cart">
                        <div class="dropdown">
                            <button class="btn btn-block btn-transparent dropdown-toggle" type="button" id="cart-show" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Товаров: 3(22 900.00грн)
                                <span class="caret"></span>
                            </button>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="cart-show">
                                <div class="col-xs-24 item">
                                    <div class="col-xs-5 image">
                                        <a href="product.html">
                                            <img src="/media/images/make_up/zabava_vikom.png" alt="" title="" />
                                        </a>
                                    </div>
                                    <div class="col-xs-14 col-xs-offset-5">
                                        <div class="title">
                                            <a href="#">Ортопедический диван-кровать Max (Макс)</a>
                                        </div>
                                        <div class="short-desc">
                                    <span>1600, multi Bonnel, категория 2 Артикул: 56784; Кол-во: 1 шт
                                        1600, multi Bonnel, категория 2 Артикул: 56784; Кол-во: 1 шт</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-5 price">
                                        9 144.00 <span class="currency">грн</span>
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </div>
                                </div>
                                <div class="col-xs-24 item">
                                    <div class="col-xs-5 image">
                                        <a href="product.html">
                                            <img src="/media/images/make_up/zabava_vikom.png" alt="" title="" />
                                        </a>
                                    </div>
                                    <div class="col-xs-14 col-xs-offset-5">
                                        <div class="title">
                                            <a href="#">Ортопедический диван-кровать Max (Макс)</a>
                                        </div>
                                        <div class="short-desc">
                                    <span>1600, multi Bonnel, категория 2 Артикул: 56784; Кол-во: 1 шт
                                        1600, multi Bonnel, категория 2 Артикул: 56784; Кол-во: 1 шт</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-5 price">
                                        9 144.00 <span class="currency">грн</span>
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </div>
                                </div>
                                <div class="col-xs-24 total text-right">
                                    <div class="amount">
                                        <span class="all">Всего:</span> <span class="number"> 22 800.00</span> <span class="currency"> грн</span>
                                    </div>
                                    <a href="cart.html" class="btn btn-orange" role="button">Оформить заказ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row center">
                    <div class="col-xs-10 col-sm-6">
                        <a href="index.html" class="logo"></a>
                    </div>
                    <div class="col-xs-12 col-sm-14">
                        <nav class="navbar navbar-primary">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#">Компания</a>
                                </div>
                                <div id="navbar" class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="#">Контакты</a></li>
                                        <li><a href="#">Доставка и оплата</a></li>
                                        <li><a href="#">Покупателям</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <div class="input-group search">
                            <input type="text" class="form-control" placeholder="Ищете что-то?">
                            <div class="input-group-btn">
                                <button class="btn btn-default dropdown-toggle" type="button" id='search-show' data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-search"></span> Найти
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="search-show">
                                    <div class="item col-xs-24">
                                        <a href="product.html">
                                            <div class="col-xs-4">
                                                <img src="/media/images/make_up/zabava_vikom.png" class="img-responsive" />
                                            </div>
                                            <div class="col-xs-20">
                                                <div class="title">
                                                    Ортопедический диван-кровать Novelty Max (Макс) (56784)
                                                </div>
                                                <div class="price">9 144.00 грн</div>
                                            </div>
                                            <div class="col-xs-1 icon">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="item col-xs-24">
                                        <a href="product_modular.html">
                                            <div class="col-xs-4">
                                                <img src="/media/images/make_up/zabava_vikom.png" class="img-responsive" />
                                            </div>
                                            <div class="col-xs-20">
                                                <div class="title">
                                                    Ортопедический диван-кровать Novelty Max (Макс) (56784)
                                                </div>
                                                <div class="price">9 144.00 грн</div>
                                            </div>
                                            <div class="col-xs-1 icon">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="item col-xs-24">
                                        <a href="product.html">
                                            <div class="col-xs-4">
                                                <img src="/media/images/make_up/zabava_vikom.png" class="img-responsive" />
                                            </div>
                                            <div class="col-xs-20">
                                                <div class="title">
                                                    Ортопедический диван-кровать Novelty Max (Макс) (56784)
                                                </div>
                                                <div class="price">9 144.00 грн</div>
                                            </div>
                                            <div class="col-xs-1 icon">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="item col-xs-24">
                                        <a href="product_modular.html">
                                            <div class="col-xs-4">
                                                <img src="/media/images/make_up/zabava_vikom.png" class="img-responsive" />
                                            </div>
                                            <div class="col-xs-20">
                                                <div class="title">
                                                    Ортопедический диван-кровать Novelty Max (Макс) (56784)
                                                </div>
                                                <div class="price">9 144.00 грн</div>
                                            </div>
                                            <div class="col-xs-1 icon">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="item col-xs-24 text-center">
                                        <a href="product.html">
                                            <div class="col-xs-24">
                                                <div class="title">
                                                    Все результаты поиска
                                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 call hidden-xs"></div>
                </div>
                <div class="bottom row">
                    <nav class="yamm navbar navbar-primary">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_menu" aria-expanded="false" aria-controls="navbar_menu">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="/">
                                    <span class="main" aria-hidden="true"></span>Главная
                                </a>
                            </div>
                            <div id="navbar_menu" class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                    {% verbatim categories %}
                                        <li class="dropdown" ng-cloak ng-show="categories.length" ng-repeat="category in categories">
                                            <a role="button" class="dropdown-toggle" data-toggle="dropdown" ng-cloak>
                                                <img src="{{ category.data.icon }}" class="img-responsive icon"/>
                                                {{ category.data.name }}
                                            </a>
                                            <div class="arrow"></div>
                                            <div class="dropdown-menu" ng-if="category.children.length" role="menu" >
                                                <div class="yamm-content">
                                                    <div class="col-xs-6">
                                                        <div class="heading">
                                                            <a ng-href="{{ category.data.absolute_url }}">{{ category.data.name }}</a>
                                                        </div>
                                                        <ul class="list-group nav nav-tabs tabs-left">
                                                            <li class="list-group-item" ng-repeat="sub_categories in category.children">
                                                                <a data-toggle="tab" ng-href="#{{ sub_categories.data.slug }}">{{ sub_categories.data.name }}
                                                                    <span class="glyphicon glyphicon-menu-right pull-right"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="tab-content">
                                                            <div class="tab-pane" id="{{ sub_categories.data.slug }}" ng-repeat="sub_categories in category.children">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading">
                                                                        <a href="{{ sub_categories.data.absolute_url }}">{{ sub_categories.data.name }}</a>
                                                                    </div>
                                                                    <div class="panel-body" ng-if="sub_categories.children.length">
                                                                        <ul class="list-group">
                                                                            <li class="list-group-item" ng-repeat="sub_sub_categories in sub_categories.children">
                                                                                <a href="{{ sub_sub_categories.data.absolute_url }}">{{ sub_sub_categories.data.name }}</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 text-right image">
                                                        <img ng-src="{{ category.data.image_banner }}" class="img-responsive pull-right" title="{{ category.data.name }}" alt="{{ category.data.name }}"/>
                                                        <a class="btn btn-default btn-menu btn-xs" href="{{ category.data.link_banner }}">Хочу</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endverbatim categories %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                {%csrf_token %}
            </header>
        {% endblock header %}

        <div class="row main" {% block ngController%}{% endblock ngController %}>
            {% block main %}{% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="row top"></div>
                <div class="row center">
                    <div class="col-xs-24 col-sm-6 row question">
                        <div class="row">
                            <div class="title">Есть вопрос?</div>
                            <div class="row item line-top">
                                <div class="col-xs-4 row icon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </div>
                                <div class="col-xs-20 text">
                                    Время работы: пн - пт 10.00 - 19.00 сб 11.00 - 17.00
                                </div>
                            </div>
                            <div class="row item line-top">
                                <div class="col-xs-4 row icon">
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                </div>
                                <div class="col-xs-20 text">
                                    г. Киев пр-т. Мира 4 выставка (1 этаж) офис 313 (3 этаж)
                                </div>
                            </div>
                            <div class="row item line-top">
                                <div class="col-xs-4 row icon">
                                    <span class="glyphicon glyphicon-phone-alt"></span>
                                </div>
                                <div class="col-xs-20 text">
                                    (099) 561-01-32<br/>
                                    (098) 110-04-60<br/>
                                    (063) 597-47-55<br/>
                                    (044) 362-19-40<br/>
                                </div>
                            </div>
                            <div class="row item line-top">
                                <div class="col-xs-4 row icon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </div>
                                <div class="col-xs-20 text">soloha.kiev.ua@gmail.com</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-24 col-sm-6 column">
                        <div class="title line-bottom">Информация</div>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#">Гарантии</a></li>
                            <li class="list-group-item"><a href="#">О нас</a></li>
                            <li class="list-group-item"><a href="#">Контакты</a></li>
                            <li class="list-group-item"><a href="#">Доставка и оплата</a></li>
                            <li class="list-group-item"><a href="#">Мобильный офис</a></li>
                            <li class="list-group-item"><a href="#">Кредит</a></li>
                            <li class="list-group-item"><a href="#">Механихмы трансформации</a></li>
                        </ul>
                        <div class="col-xs-24 special line-top"><a href="#">Акции</a>/<a href="#">Распродажи</a></div>
                    </div>
                    <div class="col-xs-24 col-sm-6 column">
                        <div class="title line-bottom">Служба поддержка</div>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#">Связаться с нами</a></li>
                            <li class="list-group-item"><a href="#">Возврат товара</a></li>
                            <li class="list-group-item"><a href="#">Карта сайта</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-24 col-sm-6 column account">
                        <div class="row">
                            <div class="title line-bottom">Личный кабинет</div>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#">Личный кабинет</a></li>
                                <li class="list-group-item"><a href="#">История заказов</a></li>
                                <li class="list-group-item"><a href="#">Заметки (0)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-24 col-sm-12 text-center subscribe">
                        <div class="row">
                            <div class="title line-top">
                                Подписывайся на скидки!
                            </div>
                            <div class="input-group">
                                <div class="col-xs-6 element">
                                    <input type="text" class="form-control" placeholder="e-mail" aria-describedby="basic-addon1">
                                </div>
                                <div class="col-xs-6 element">
                                    <input type="text" class="form-control" placeholder="имя" aria-describedby="basic-addon1">
                                </div>
                                <div class="col-xs-6 element">
                                    <input type="text" class="form-control" placeholder="город" aria-describedby="basic-addon1">
                                </div>
                                <div class="col-xs-6 element">
                                    <button type="button" class="btn btn-danger btn-block">Подписаться</button>
                                </div>
                            </div>
                            <div class="social">
                                <div class="title">МЫ В СОЦ. СЕТЯХ. ПРИСОЕДИНЯЙТЕСЬ!</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col-xs-24 text-center">
                        Copyright Soloha. Интернет магазин мебели и мебельных тканей. © 2012 - 2016
                    </div>
                </div>
            </footer>
        {% endblock %}
    </div>
{% endblock %}
