{% extends "layout_2_col.html" %}
{% load staticfiles %}
{% block ngController%}ng-controller="Contacts"{% endblock ngController %}
{% load i18n %}

{% block headertext %}{% trans 'Contacts us' %}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb" xmlns="http://www.w3.org/1999/html">
        <li><a href="{{ homepage_url }}">{% trans "Home" %}</a></li>
        <li><a href="{{ homepage_url }}">{% trans "Contacts" %}</a></li>
    </ul>
{% endblock breadcrumbs %}

{% block column_left %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Информация
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body"></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Служба поддержки
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="contacts.html">
                                Связаться с нами
                                <span class="glyphicon glyphicon glyphicon-menu-right pull-right"></span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="contacts.html">
                                Возврат товара
                                <span class="glyphicon glyphicon glyphicon-menu-right pull-right"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Личный кабинет
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row content">
        <div class="col-xs-24 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-pencil"></span> {% trans 'Feedback' %}
                    </h3>
                </div>
                <div class="panel-body">
                    <form name="{{ form.form_name }}" method="post" novalidate action="." ng-init="button.send='{% trans "Send" %}'; button.actual=button.send; button.sending='{% trans "Sending..." %}'">
                        {% csrf_token %}
                        {{ form.as_div }}
                        <div class="row">
                            <div class="col-xs-8">
                                <button type="button" ng-click="submit()" class="btn btn-primary" ng-disabled="disabled_button">
                                    <span ng-bind="button.actual">{% trans 'Send' %}</span>
                                </button>
                            </div>
                            <div class="col-xs-16">
                                <div class="alert alert-dismissible" role="alert" ng-class="alert.type" ng-cloak="" ng-if="alert !== null">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'Close' %}" ng-click="remove_alert()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <span ng-bind="alert.msg"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xs-24 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-envelope"></span> {% trans 'Contacts' %}</h3>
                </div>
                <div class="panel-body">
                    {% if current_site.info.work_time %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row glyphicon-grid">
                                    <div class="col-xs-3 glyphicon-icon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </div>
                                    <div class="col-xs-21 glyphicon-text">
                                        {{ current_site.info.work_time }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if current_site.info.address %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row glyphicon-grid">
                                    <div class="col-xs-3 glyphicon-icon">
                                        <span class="glyphicon glyphicon-map-marker"></span>
                                    </div>
                                    <div class="col-xs-21 glyphicon-text">
                                        {{ current_site.info.address }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if current_site.info.phone_numbers.exists %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row glyphicon-grid">
                                    <div class="col-xs-3 glyphicon-icon">
                                        <span class="glyphicon glyphicon-phone-alt"></span>
                                    </div>
                                    <div class="col-xs-21 glyphicon-text">
                                        <ol class="reset-margin">
                                            {% for phone in current_site.info.phone_numbers.all %}
                                                <li><a href="tel:{{ phone.phone_number }}">{{ phone.phone_number.as_international }}</a></li>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if current_site.info.email %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row glyphicon-grid">
                                    <div class="col-xs-3 glyphicon-icon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </div>
                                    <div class="col-xs-21 glyphicon-text">
                                        {{ current_site.info.email }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-xs-24">
            {% if current_site.info.way %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-road"></span> {% trans 'How to reach us' %}
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{ current_site.info.way|safe }}
                    </div>
                </div>
            {% endif %}

            {% if current_site.info.map %}
                {{ current_site.info.map|safe }}
            {% endif %}
            {#            <div class="text text-center">Мы всегда рады ответить на вопросы в социальных сетях!</div>#}
        </div>
    </div>
{% endblock %}
