{% extends "layout_2_col.html" %}

{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load mptt_tags %}
{% load catalogue %}
{% load i18n %}

{% block meta_robots %}
    {{ block.super }}
    {% if page or url_extra_kwargs.sort %}
        , noindex, nofollow
    {% endif %}
{% endblock %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        <li class="active">{{ summary }}</li>
    </ul>
{% endblock breadcrumbs %}

{% block column_left %}
    {% full_tree_for_model catalogue.Category as categories %}

    {% if categories %}
        <div class="heading">{% trans "All categories" %}</div>
        <div class="list-group">
                {% recursetree categories %}
                    {% if node.enable %}
                        {% with title=node.name|lower|capfirst|truncatechars:63 url=node.get_absolute_url %}
                            <a href="{{ node.get_absolute_url }}" class="list-group-item{% ifequal category.slug node.slug %} active{% endifequal %}">
                                {{ title }} {% if not node.is_leaf_node %}<span class="caret"></span>{% endif %}
                            </a>

                            {% if not node.is_leaf_node %}
                                <div class="collapse list-group-submenu in">
                                    {{ children }}
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                {% endrecursetree %}
            </div>
    {% endif %}

    {% if has_facets %}
        <h4>{% trans "Refine by" %}</h4>
        <div class="side_categories">
            {% for field, data in facet_data.items %}
                {% if data.results %}
                    {% include 'search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row sort">
        <div class="col-xs-8">
            <form method="get" class="form-horizontal">
        {# Render other search params in a hidden block #}
        <div style="display:none">
            {% for value in selected_facets %}
                <input name="selected_facets" value="{{ value }}" />
            {% endfor %}
            {{ form.q }}
        </div>

        {% if paginator.count %}
            {% if paginator.num_pages > 1 %}
                {% blocktrans with start=page_obj.start_index end=page_obj.end_index count num_results=paginator.count %}
                    <strong>{{ num_results }}</strong> result - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                {% plural %}
                    <strong>{{ num_results }}</strong> results - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                {% endblocktrans %}
            {% else %}
                {% blocktrans count num_results=paginator.count %}
                    <strong>1</strong> result.
                {% plural %}
                    <strong>{{ num_results }}</strong> results.
                {% endblocktrans %}
            {% endif %}
            {% if form %}
                <div class="pull-right">
                    {% include "partials/form_field.html" with field=form.sort_by %}
                </div>
            {% endif %}
        {% else %}
            <p>
                {% trans "<strong>0</strong> results." %}
            </p>
        {% endif %}
    </form>
        </div>
        <div class="col-xs-16">
            <span class="text">{% trans 'Sort by' %}:</span>
            <div class="btn-group btn-group-md" role="group" aria-label="{% trans 'Sort by' %}">
                {% with url_extra_kwargs.sort|default:orders.0.argument as select_order %}
                    {% for order in orders %}
                        {% if forloop.first %}
                            {% assign sort None %}
                        {% else %}
                            {% assign sort order.argument %}
                        {% endif %}
                        <a href="{% reverse_url url_view_name url_extra_kwargs sort=sort %}"
                           class="btn {% if select_order == order.argument %} btn-danger disabled{% else %} btn-default{% endif %}"
                           title="{{ order.title }}">
                            {{ order.title }}
                        </a>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>

    <section>
        <div class="row items">
            {% if page_obj|length %}
                {% for product in page_obj %}
                    <div class="col-sm-6 col-md-6">
                        {% render_product product %}
                    </div>
                {% endfor %}
                <div class="col-xs-24 text-right">
                    {% include "catalogue/partials/pagination.html" %}
                </div>
            {% else %}
                <div class="col-xs-24">
                    <div class="alert alert-info">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        {% trans "No products found." %}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
