{% extends "layout_2_col.html" %}

{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load mptt_tags %}
{% load catalogue %}
{% load i18n %}
{% load thumbnail %}

{% block meta_robots %}
    {{ block.super }}
    {% if page or url_extra_kwargs.sort %}
        , noindex, nofollow
    {% endif %}
{% endblock %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        {% if summary %}
            <li class="active">{{ summary }}</li>
        {% else %}
            <li>
                <a href="{% url 'catalogue:index' %}">
                    {% trans 'All products' %}
                </a>
            </li>
        {% endif %}

        {% block breadcrumbs_child %}{% endblock %}
    </ul>
{% endblock breadcrumbs %}

{% block column_left %}
    {% full_tree_for_model catalogue.Category as categories_menu %}

    {% if categories %}
        <div class="heading">{% trans "All categories" %}</div>
        <div class="list-group">
            {% recursetree categories_menu %}
                {% if node.enable %}
                    {% with title=node.name|lower|capfirst|truncatechars:63 url=node.get_absolute_url %}
                        <a href="{{ node.get_absolute_url }}" class="list-group-item{% ifequal category.slug node.slug %} active{% endifequal %}">
                            {{ title }} {% if not node.is_leaf_node %}<span class="caret"></span>{% endif %}
                        </a>

                        {% if not node.is_leaf_node %}
                            <div class="collapse list-group-submenu in">
                                {{ children }}
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endif %}
            {% endrecursetree %}
        </div>
    {% endif %}

    {% if has_facets %}
        <h4>{% trans "Refine by" %}</h4>
        <div class="side_categories">
            {% for field, data in facet_data.items %}
                {% if data.results %}
                    {% include 'search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {#    {% assign subcategories object.children.all|default:categories %}#}

    {% if subcategories %}
        <div class="row categories">
            {#                <div class="lightSlider">#}
            {% for category in subcategories %}
                <div class="col-xs-12 col-sm-6 item text-center">
                    {% with category_name=category.name %}
                        <a href="{{ category.get_absolute_url }}">
                            <img src="{{ category.image|thumbnail_url:"subcategory_image" }}"
                                 title="{{ category_name }}" alt="{{ category_name }}" class="img-responsive"/>
                            <div class="title">{{ category_name }}</div>
                        </a>
                    {% endwith %}
                </div>
            {% endfor %}
            {#                </div>#}
            {#            <div class="col-xs-3 col-sm-3 text-center">#}
            {#                <a href="#"><div class="arrow"></div>Посмотреть все кровати</a>#}
            {#            </div>#}
        </div>
    {% endif %}

    <div class="row sort">
        <div class="col-xs-8">
            <span class="text show">
                {% if paginator.count %}
                    {% if paginator.num_pages > 1 %}
                        {% blocktrans with start=page_obj.start_index end=page_obj.end_index count num_results=paginator.count %}
                            <strong>{{ num_results }}</strong> result - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                        {% plural %}
                            <strong>{{ num_results }}</strong> results - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans count num_results=paginator.count %}
                            <strong>1</strong> result.
                        {% plural %}
                            <strong>{{ num_results }}</strong> results.
                        {% endblocktrans %}
                    {% endif %}
                {% else %}
                    {% trans "<strong>0</strong> results." %}
                {% endif %}
            </span>
        </div>
        <div class="col-xs-16 text-right">
            <span class="text">{% trans 'Sort by' %}:</span>
            <div class="btn-group btn-group-md" role="group" aria-label="{% trans 'Sort by' %}">
                {% with url_extra_kwargs.sort|default:orders.0.argument as select_order %}
                    {% for order in orders %}
                        {% if forloop.first %}
                            {% assign sort None %}
                        {% else %}
                            {% assign sort order.argument %}
                        {% endif %}
                        <a href="{% reverse_url url_view_name url_extra_kwargs sort=sort %}" type="button"
                           class="btn {% if select_order == order.argument %} btn-danger{% else %} btn-default{% endif %}"
                           title="{{ order.title }}">
                            {{ order.title }}
                        </a>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>

    <section>
        <div class="row items">
            {% for product in page_obj %}
                <div class="col-sm-6 col-md-6">
                    {% render_product product %}
                </div>
            {% empty %}
                <div class="col-xs-24">
                    <div class="alert alert-info">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        {% trans "No products found." %}
                    </div>
                </div>
            {% endfor %}
            <div class="col-xs-24 text-right">
                {% include "catalogue/partials/pagination.html" %}
            </div>
        </div>
    </section>
{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
