{% extends "catalogue/browse.html" %}

{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load staticfiles %}
{% load i18n %}

{% load filters_concatenation%}

{% block title %}
    {{ category.meta_title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ category.meta_description|default:""|striptags }}
{% endblock %}

{% block keywords %}
    {{ category.meta_keywords|default:""|striptags }}
{% endblock %}

{% block left-bar %}
    {% if filters %}
        <div class="heading">Подбор по параметрам</div>
        <div class="filter">
            {% for filter in filters %}
                <div class="items">
                    <div class="name" >{{ filter }}</div>
                    <div class="values">
                        <ul class="list-group">
                            {% for filter_value in filter.children_in_products %}
                                <li class="list-group-item checkbox">
                                    <label>
                                        {% for sorting_url, text, is_active, link in sort_types %}
                                            {% if is_active %}
                                                <a href="{% concatenate category filter_slug filter_value %}{{ link }}">
                                            {% endif %}
                                        {% endfor %}
                                        {% if filter_value.get_absolute_url in filter_slug %}
                                            <input type="checkbox" checked/>
                                        {% else %}
                                            <input type="checkbox"/>
                                        {% endif %}
                                        {{ filter_value.title }}
                                        <span class="count">({{ filter_value.products.count }})</span>
                                        </a>
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock left-bar %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        {% for category in category.get_ancestors %}
            <li>
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            </li>
        {% endfor %}
        <li class="active">{{ category.name }}</li>
    </ol>
{% endblock %}

{% block headertext %}{{ category.name }}{% endblock %}

{% block content %}
    <div class="row categories">
        <div class="col-xs-18 col-sm-21">
            <div class="row relative">
                <div class="col-xs-1 prevSlide absolute" id="goToPrevSlide"></div>
                <div class="col-xs-22 col-xs-offset-1">
                    <div class="lightSlider">
                        <a href="{{ category.get_absolute_url }}">
                            {% for children in category.children.all %}
                                <div class="col-xs-12 col-sm-4 item text-center">
                                    <a href="{{ children.get_absolute_url }}">
                                        <img src="/media/images/make_up/almeriya1-200x100-.png" class="img-responsive"/>
                                        <div class="title">{{ children }}</div>
                                    </a>
                                </div>
                            {% endfor %}
                        </a>
                    </div>
                </div>
                <div class="col-xs-1 nextSlide absolute" id="goToNextSlide"></div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 text-center">
            <a href="#"><div class="arrow"></div>Посмотреть все кровати</a>
        </div>
    </div>

    <div class="row sort">
        <div class="col-xs-8">
            <span class="text show">
                <form method="get" class="form-horizontal">
                    {#         Render other search params in a hidden block #}
                    <div style="display:none">
                        {% for value in selected_facets %}
                            <input name="selected_facets" value="{{ value }}" />
                        {% endfor %}
                        {{ form.q }}
                    </div>

                    {% if paginator.count %}
                        {% if paginator.num_pages > 1 %}
                            {% blocktrans with start=page_obj.start_index end=page_obj.end_index count num_results=paginator.count %}
                                <strong>{{ num_results }}</strong> result - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                            {% plural %}
                                <strong>{{ num_results }}</strong> results - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans count num_results=paginator.count %}
                                <strong>{{ num_results }}</strong> result.
                            {% plural %}
                                <strong>{{ num_results }}</strong> results.
                            {% endblocktrans %}
                        {% endif %}
                        {% if form %}
                            <div class="pull-right">
                                {% include "partials/form_field.html" with field=form.sort_by %}
                            </div>
                        {% endif %}
                    {% else %}
                        <p>
                            {% trans "<strong>0</strong> results." %}
                        </p>
                    {% endif %}
                </form>
            </span>
        </div>
        <div class="col-xs-16">
            <span class="text">Сортировать:</span>
            <div class="btn-group btn-group-md" role="group" aria-label="Sort">
                {% for sorting_url, name, is_active in sort_types %}
                    {% if is_active %}
                        <a href="{{ sorting_url }}" type="button" class="btn btn-default btn-danger">{{ name }}</a>
                    {% else %}
                        <a href="{{ sorting_url }}" type="button" class="btn btn-default"> {{ name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row items">
        {% if page_obj %}
            {% for product in page_obj %}
                <div class="col-sm-6 col-md-6">
                    {% include "catalogue/partials/product.html" %}
                </div>
            {% endfor %}
            <div class="clearfix"></div>
            <div class="col-xs-6 col-xs-offset-8 wrapper">
                <a href="#" class="more_products">
                    ПОКАЗАТЬ ЕЩЕ
                </a>
            </div>
            <div>
                {% include "catalogue/partials/pagination.html" %}
            </div>
        {% else %}
            <div class="nonefound col-xs-24">{% trans "No products found." %}</div>
        {% endif %}
    </div>
{% endblock %}

{% block post_content %}
    <div class="row">
        <div class="col-xs-24 category">
            <div class="description">
                {{ category.description|default:""|striptags }}
                <div class="gradientback"></div>
            </div>
            <div class="text-right">
                <a href="#" class="more">Читать полностью --></a>
            </div>
        </div>
    </div>
{% endblock %}
