{% extends "catalogue/browse.html" %}

{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load catalogue %}
{% load product %}
{% load staticfiles %}
{% load i18n %}

{% block meta %}
    {% if page %}
        <meta name="robots" content="nofollow" />
    {% endif %}
{% endblock %}

{#{% block ngController %}ng-controller="" {% endblock ngController %}#}
{% block ngController%}ng-controller="More_goods"{% endblock ngController %}

{% load filters_concatenation %}

{% block title %}
    {{ category.meta_title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ category.meta_description|default:""|striptags }}
{% endblock %}

{% block keywords %}
    {{ category.meta_keywords|default:""|striptags }}
{% endblock %}

{% block left-bar %}
    {% if filters.exists %}
        {% assign trancate_filter 32 %}
        {% assign trancate_filter_value 23 %}
        {% if selected_filters.exists %}
            {% regroup selected_filters by parent as group_filters %}
            {% assign filter_parents group_filters|fetch_from_list:'grouper' %}

            <div class="heading">{% trans 'Selected' %}</div>
            <div class="filter">
                {% for filter in group_filters %}
                    <div class="items">
                        <div class="name" title="{{ filter.grouper.title }}">
                            {{ filter.grouper.title|truncatechars:trancate_filter }}
                        </div>
                        <div class="values">
                            <ul class="list-group">
                                {% for value in filter.list %}
                                    <li class="list-group-item checkbox">
                                        {% assign clear_filter selected_filters|remove:value %}
                                        {% trans 'Clear' as title %}

                                        <a class="btn btn-default btn-block active"
                                           href="{% reverse_url 'catalogue:category' url_extra_kwargs filter_slug=clear_filter|join_slug:"/"|default:None %}"
                                           title="{{ title }} {{ value.title|lower }}" aria-label="{{ title }} {{ value.title|lower }}">
                                            {{ value.title|truncatechars:trancate_filter_value }}
                                            <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="heading">{% trans 'Selection of parameters' %}</div>
        <div class="filter">
            {% regroup filters by parent as filters %}

            {% for filter in filters %}
                {% if filter_parents %}
                    {% assign filter_in_parents filter.grouper|in_list:filter_parents %}
                {% endif %}

                <div class="items">
                    <div class="name" title="{{ filter.grouper.title }}">
                        {{ filter.grouper.title|truncatechars:trancate_filter }}
                    </div>
                    <div class="values">
                        <ul class="list-group">
                            {% for value in filter.list %}
                                {% assign add '' %}

                                {% if filter_in_parents and value.potential_products_count %}
                                    {% assign add '+' %}
                                {% endif %}

                                <li class="list-group-item checkbox">
                                    {% if value|in_list:selected_filters %}
                                        {% assign clear_filter selected_filters|remove:value %}
                                        {% trans 'Clear' as title %}
                                    {% else %}
                                        {% assign clear_filter selected_filters|append:value %}
                                        {% trans 'Choose' as title %}
                                    {% endif %}

                                    <a href="{% reverse_url 'catalogue:category' url_extra_kwargs filter_slug=clear_filter|join_slug:"/"|default:None %}"
                                       class="btn btn-default btn-block
                                       {% if value|in_list:selected_filters %}active
                                       {% elif not value.potential_products_count %} disabled{% endif %}"
                                       title="{% declension_of_words title value.title|lower value.potential_products_count %}"
                                       aria-label="{{ title }} {{ value.title|lower }}">
                                        {{ value.title|truncatechars:trancate_filter_value }}
                                        {% if value|in_list:selected_filters %}
                                            <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
                                        {% else %}
                                            <span class="count">({{ add }}{{ value.potential_products_count }})</span>
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock left-bar %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        {% for category in category.get_ancestors %}
            <li>
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            </li>
        {% endfor %}
        <li class="active">{{ category.name }}</li>
    </ol>
{% endblock %}

{% block headertext %}{{ category.name }}{% endblock %}

{% block content %}
    <div class="row categories">
        <div class="col-xs-18 col-sm-21">
            <div class="row relative">
                <div class="col-xs-1 prevSlide absolute" id="goToPrevSlide"></div>
                <div class="col-xs-22 col-xs-offset-1">
                    <div class="lightSlider">
                        <a href="{{ category.get_absolute_url }}">
                            {% for children in category.children.all %}
                                <div class="col-xs-12 col-sm-4 item text-center">
                                    <a href="{{ children.get_absolute_url }}">
                                        <img src="" class="img-responsive"/>
                                        <div class="title"></div>
                                    </a>
                                </div>
                            {% endfor %}
                        </a>
                    </div>
                </div>
                <div class="col-xs-1 nextSlide absolute" id="goToNextSlide"></div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 text-center">
            <a href="#"><div class="arrow"></div>Посмотреть все кровати</a>
        </div>
    </div>

    <div class="row sort">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-16">
            <span class="text">Сортировать:</span>
            <div class="btn-group btn-group-md" role="group" aria-label="Sort">
                {% with url_extra_kwargs.sort|default:orders.0.argument as select_order %}
                    {% for order in orders %}
                        {% if forloop.first %}
                            {% assign sort None %}
                        {% else %}
                            {% assign sort order.argument %}
                        {% endif %}
                        <a href="{% reverse_url 'catalogue:category' url_extra_kwargs sort=sort %}"
                           class="btn {% if select_order == order.argument %} btn-danger disabled{% else %} btn-default{% endif %}"
                           title="{{ order.title }}">
                            {{ order.title }}
                        </a>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>

    <div class="row items">
        {% if page_obj|length %}
            {% for product in page_obj %}
                <div class="col-sm-6 col-md-6">
                    {% include "catalogue/partials/product.html" %}
                </div>
            {% endfor %}
            <div class="col-xs-24 text-right">
                {% include "catalogue/partials/pagination.html" %}
            </div>
        {% else %}
            <div class="col-xs-24">
                <div class="alert alert-info">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {% trans "No products found." %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block post_content %}
    <div class="row">
        <div class="col-xs-24 category">
            <div class="description">
                {{ category.description|default:""|striptags }}
                <div class="gradientback"></div>
            </div>
            <div class="text-right">
                <a href="#" class="more">Читать полностью --></a>
            </div>
        </div>
    </div>
{% endblock %}
