{% extends "layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load thumbnail %}
{% load product %}
{% load djangular_tags %}
{% load catalogue %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="{% static "bower_components/blueimp-bootstrap-image-gallery/css/bootstrap-image-gallery.min.css" %}">
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script src="{% static 'bower_components/lightslider/dist/js/lightslider.min.js' %}"></script>
    <script src="{% static 'src/js/product.js' %}"></script>
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="{% static "bower_components/blueimp-bootstrap-image-gallery/js/bootstrap-image-gallery.min.js" %}"></script>
{% endblock %}

{% block ngController %}ng-controller="Product" {% endblock ngController %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.meta_description|default:""|striptags }}
{% endblock %}

{% block keywords %}
    {{ product.meta_keywords|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        {% with category=product.categories.all.0 %}
            {% for c in category.get_ancestors_and_self %}
                <li>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
            <li class="active">{{ product.title }}</li>

            {% get_back_button as backbutton %}
            {% if backbutton %}
                <li class="pull-right">
                    <a href="{{ backbutton.url }}">
                        <i class="icon-arrow-left"></i> {{ backbutton.title }}
                    </a>
                </li>
            {% endif %}
        {% endwith %}
    </ul>
{% endblock breadcrumbs %}

{% block headertext %}{{ product.get_title }}{% endblock %}

{% assign product|is_review_permitted:user is_review_permitted %}

{% block content %}
    <div class="col-xs-24 content product" id="info">
        {% if user.is_authenticated and user.is_staff %}
            <a class="pull-right hidden-xs" href="{% url 'dashboard:catalogue-product' pk=product.id %}">
                <small><i class="icon-edit"></i> {% trans "Edit this product" %}</small>
            </a>
        {% endif %}
        <div class="row">
            <div class="col-xs-17 col-sm-8 col-md-9 scrollspy" >
                <div id="primary_info" data-spy="affix">
                    {% block product_gallery %}
                        {% include "catalogue/partials/gallery.html" %}
                    {% endblock %}

                    <div class="wrapper">
                        <div class="reviews pull-left">
                            <a href="#" class="pull-left">
                                {% iffeature "reviews" %}
                                    {{ product.num_approved_reviews }}
                                    {% trans "reviews" %}
                                {% endiffeature %}
                            </a>
                            {% iffeature "reviews" %}
                                <p class="star-rating Four pull-left">
                                    {% include "catalogue/reviews/partials/review_stars.html" %}
                                </p>
                            {% endiffeature %}
                            <div class="social">{% trans 'Share' %}:</div>
                        </div>
                        <div class="defer pull-right">
                            {% iffeature "wishlists" %}
                                {% include "catalogue/partials/add_to_wishlist.html" %}
                            {% endiffeature %}

                            <a class="compare" href="#">{% trans 'Compare' %}</a>
                        </div>
                    </div>
                    <div class="row liner">
                        <div class="col-xs-22">
                            <ul class="nav nav-tabs nav-stacked">
                                <li class="active"><a data-toggle="tab" href="#info">{% trans 'General information' %}</a></li>
                                {% if object.options.exists %}
                                    <li><a data-toggle="tab" href="#options">{% trans 'Select additional options' %}</a></li>
                                {% endif %}
                                <li><a data-toggle="tab" href="#characteristics">{% trans 'Characteristics' %}</a></li>

                                {% if product.description %}
                                    <li><a data-toggle="tab" href="#description">{% trans 'Description' %}</a></li>
                                {% endif %}
                                <li><a data-toggle="tab" href="#reviews">{% trans 'Reviews' %}</a></li>
                                {% if pages_delivery_and_pay %}
                                    <li><a data-toggle="tab" href="#delivery">{% trans 'Shipping and payment' %}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="section3" class="col-xs-24 col-sm-11 col-md-15" >
                <div class="row common">
                    {% include "catalogue/partials/price.html" %}

                    {% if attributes %}
                        <div class="col-xs-24 col-sm-24 col-md-14 options">
                            <span class="relation">{% trans "*The price depends on the selected parameters:" %}</span>

                            <div class="list_attr" ng-if="!attributes">
                                {% for attribute in attributes %}
                                    {% include "catalogue/product/attributes/attributes.html" with ng=0 %}
                                {% endfor %}
                            </div>

                            <div class="list_attr" ng-if="attributes">
                                {% include "catalogue/product/attributes/attributes.html" with ng=1 %}
                            </div>
                        </div>
                    {% endif %}
                </div>

                {% if object.children.exists %}
                    {% include 'catalogue/partials/child.html' %}
                {% endif %}

                {% if options %}
                    <div class="col-xs-24 tab-content-info">
                        <div class="panel panel-default info" id="options">
                            <div class="panel-heading text-center">
                                {% trans 'Select additional options' %}:
                            </div>
                            <div class="panel-body">
                                <div class="col-xs-24">
                                    <div class="row option form-inline"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% include "catalogue/partials/characteristics.html" %}

                {% block product_description %}
                    {% if product.description %}
                        <div class="panel panel-default" id="description">
                            <div class="panel-heading text-center">{% trans "Product Description" %}</div>
                            <div class="panel-body">
                                <p>{{ product.description|safe }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}

                <div class="panel panel-default reviews" id="reviews">
                    <div class="panel-heading text-center">{% trans "Reviews:" %}</div>
                    <div class="panel-body">
                        <div class="write">
                            {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                            {% blocktrans %}
                                <a href="{{ add_review_url }}#addreview">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    Write Review
                                </a>
                            {% endblocktrans %}
                        </div>
                        <div class="row list">
                            {% iffeature "reviews" %}
                                {% block product_review %}
                                    <section>
                                        <div id="reviews" class="sub-header">
                                            {% if product.num_approved_reviews > 3 %}
                                                <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}" class="btn pull-right">{% trans "See all reviews" %}</a>
                                            {% endif %}
                                            <h2>{% trans "Customer Reviews" %}</h2>
                                        </div>
                                        {% if product.num_approved_reviews == 0 %}
                                            <p>
                                                {% if is_review_permitted %}
                                                    {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                                                    {% blocktrans %}This product does not have any reviews yet -
                                                        <a href="{{ add_review_url }}#addreview">be the first to write one</a>.
                                                    {% endblocktrans %}
                                                {% else %}
                                                    {% trans "This product does not have any reviews yet" %}.
                                                {% endif %}
                                            </p>
                                        {% else %}
                                            <ol class="list-unstyled review-list">
                                                {% for review in reviews|slice:":3" %}
                                                    <div class="col-xs-24 head">
                                                        <li>
                                                            {% include 'catalogue/partials/review.html' %}
                                                        </li>
                                                    </div>
                                                {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </section>
                                {% endblock product_review %}
                            {% endiffeature %}
                            <div class="col-xs-24">
                                <a class="pull-right more" href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}">{% trans "View all comments >>" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if pages_delivery_and_pay %}
                    <div class="panel panel-default" id="delivery">
                        <div class="panel-heading text-center">{% trans 'Shipping and payment' %}:</div>
                        <div class="panel-body">
                            {% for page in pages_delivery_and_pay %}
                                <h2>{{ page.title }}</h2>
                                <p>{{ page.content }}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-24 items" id="items">
                {% recommended_products product %}
                {% recently_viewed_products %}
            </div>
        </div>
    </div>
{% endblock %}

{% block before_end_body %}
    {{ block.super }}
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
