{% extends "layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load thumbnail %}
{% load product %}
{% block ngController %}ng-controller="Product" {% endblock ngController %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.meta_description|default:""|striptags }}
{% endblock %}

{% block keywords %}
    {{ product.meta_keywords|default:""|striptags }}
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script src="{% static 'bower_components/lightslider/dist/js/lightslider.min.js' %}"></script>
    <script src="{% static 'src/js/product.js' %}"></script>
{% endblock extrascripts %}

{% block main %}
    <div class="col-xs-24 content product" id="info">
        {% block breadcrumbs %}
            <ul class="breadcrumb">
                <li>
                    <a href="{{ homepage_url }}">{% trans "Home" %}</a>
                </li>
                {% with category=product.categories.all.0 %}
                    {% for c in category.get_ancestors_and_self %}
                        <li>
                            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        </li>
                    {% endfor %}
                    <li class="active">{{ product.title }}</li>

                    {% get_back_button as backbutton %}
                    {% if backbutton %}
                        <li class="pull-right">
                            <a href="{{ backbutton.url }}">
                                <i class="icon-arrow-left"></i> {{ backbutton.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endwith %}
            </ul>
        {% endblock breadcrumbs %}
        <h1 class="line-bottom row">{{ product.get_title }}</h1>
        {% csrf_token %}

        {% if user.is_authenticated and user.is_staff %}
            <a class="pull-right hidden-xs" href="{% url 'dashboard:catalogue-product' pk=product.id %}">
                <small><i class="icon-edit"></i> {% trans "Edit this product" %}</small>
            </a>
        {% endif %}
        <div class="row">
            <div class="col-xs-17 col-sm-8 col-md-9 scrollspy">
                {% block product_gallery %}
                    {% include "catalogue/partials/gallery.html" %}
                {% endblock %}

                <div class="wrapper">
                    <div class="reviews pull-left">
                        <a href="#" class="pull-left">
                            {% iffeature "reviews" %}
                                {{ product.num_approved_reviews }}
                                {% trans "reviews" %}
                            {% endiffeature %}
                        </a>
                        {% iffeature "reviews" %}
                            <br>
                            <p class="star-rating Four pull-left">
                                {% include "catalogue/reviews/partials/review_stars.html" %}
                            </p>
                        {% endiffeature %}
                        <div class="social">{% trans "Share:" %} </div>
                    </div>
                    <div class="defer pull-right">
                        {% iffeature "wishlists" %}
                            {% include "catalogue/partials/add_to_wishlist.html" %}
                        {% endiffeature %}
                        <a class="compare" href="#">{% trans "compare" %}</a>
                    </div>
                </div>
                <div class="row liner" id="nav-fix">
                    <div class="col-xs-22">
                        <ul class="nav nav-tabs nav-stacked">
                            <li class="active"><a data-toggle="tab" href="#info">{% trans "general information" %}</a></li>
                            <li><a data-toggle="tab" href="#options">{% trans "Select additional options" %}</a></li>
                            <li><a data-toggle="tab" href="#characteristics">{% trans "Characteristics" %}</a></li>
                            <li><a data-toggle="tab" href="#description">{% trans "Description" %}</a></li>
                            <li><a data-toggle="tab" href="#reviews">{% trans "Reviews" %}</a></li>
                            <li><a data-toggle="tab" href="#delivery">{% trans "Shipping and payment" %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="section3" class="col-xs-24 col-sm-11 col-md-15" >
                <div class="row common" >
                    <div class="col-xs-24 col-sm-24 col-md-10 price">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {% trans "Vendor code:" %} {{ product.id }}
                                <div class="pull-right">{% trans "Under the order" %}</div>
                            </div>
                            <div class="panel-body">
                                {% with class_price="number" %}
                                    {% if price %}
                                        <div class="text-center wrapper-number">
                                            {% trans "price:" %}
                                            <span ng-bind="product.price" class="{{ class_price }}">{{ price }}</span>
                                            <span>{{ currency }}</span>
                                            {#                                    {% block product_stock_record %}#}
                                            {#                                        {% include "catalogue/partials/stock_record.html" with verbose=1 %}#}
                                            {#                                    {% endblock %}#}
                                        </div>
                                        <div class="row">
                                            <div class="wrapper-btn-primary col-xs-12">
                                                <button class="btn btn-block btn-primary">
                                                    {% trans "Buy" %}
                                                    {#                                            {% block product_basket_form %}#}
                                                    {#                                                {% include "catalogue/partials/add_to_basket_form.html" %}#}
                                                    {#                                            {% endblock %}#}
                                                </button>
                                            </div>
                                            <div class="wrapper-btn-faster col-xs-12">
                                                <button class="btn btn-block btn-faster btn-primary">{% trans "buy in one click" %}</button>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="wrapper-number"><span class="{{ class_price }}" ng-bind="product.product_not_availability">{{ product_not_availability }}</span></div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="panel-footer">
                                <div class="row text-center">
                                    <div class="col-xs-8">
                                        {% if flatpages.delivery %}
                                        <div class="icon icon-car" title="{% trans 'Delivery' %}" data-toggle="modal" data-target="#DeliveryModal">
                                            <span class="glyphicon glyphicon-info-sign btn-xs"></span>
                                        </div>
                                        <div class="modal fade" id="DeliveryModal" tabindex="-1" role="dialog" aria-labelledby="Delivery">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="DeliveryModal">{{ flatpages.delivery.title }}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        {{ flatpages.delivery.content|truncatewords:35|linebreaks }}
                                                        <a href="{{ flatpages.delivery.get_absolute_url }}">{% trans 'view on page' %}</a>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-8">
                                        {% if flatpages.payment %}
                                        <div class="icon icon-pay" title="{% trans 'Payment' %}" data-toggle="modal" data-target="#PaymentModal">
                                            <span class="glyphicon glyphicon-info-sign btn-xs"></span>
                                        </div>
                                        <div class="modal fade" id="PaymentModal" tabindex="-1" role="dialog" aria-labelledby="Payment">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="PaymentModal">{{ flatpages.payment.title }}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        {{ flatpages.payment.content|truncatewords:35|linebreaks }}
                                                        <a href="{{ flatpages.payment.get_absolute_url }}">{% trans 'view on page' %}</a>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-8">
                                        {% if flatpages.manager %}
                                        <div class="icon icon-manager" title="{% trans 'Mobile manager' %}" data-toggle="modal" data-target="#ManagerModal">
                                            <span class="glyphicon glyphicon-info-sign btn-xs"></span>
                                        </div>
                                        <div class="modal fade" id="ManagerModal" tabindex="-1" role="dialog" aria-labelledby="Manager">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="ManagerModal">{{ flatpages.manager.title }}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        {{ flatpages.manager.content|truncatewords:35|linebreaks }}
                                                        <a href="{{ flatpages.manager.get_absolute_url }}">{% trans 'view on page' %}</a>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="update_price" class="btn btn-default" ng-click="update_price()">{% trans "Get price" %}</button>

                    <div class="col-xs-24 col-sm-24 col-md-14 options">
                        <span class="relation">{% trans "* The price depends on the selected parameters:" %}</span>
                        <div class="list_attr">
                            {% for attribute in attributes %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row option">
                                            <div class="col-xs-15 name">
                                                {{ attribute.title }}
                                            </div>
                                            <div class="col-xs-11 pull-right values">
                                                <select data-live-search="true" id="attribute-{{ attribute.pk }}" class="selectpicker" data-width="100%">
                                                    {#                                                    <optgroup label="{% trans 'Группа 1' %}">#}
                                                    {#                                                        <option value="volvo">Volvo</option>#}
                                                    {#                                                        <option value="saab">Saab</option>#}
                                                    {#                                                    </optgroup>#}
                                                    <option value="0">{{ not_selected }}</option>
                                                    {% with select='selected' %}
                                                        {% for value in attribute.values %}
                                                            <option {% if value.pk in product_version_attributes %}{{ select }}{% endif %}
                                                                    value="{{ value.pk }}">{{ value.title }}
                                                            </option>
                                                        {% endfor %}
                                                    {% endwith %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xs-24 tab-content-info">
                        <div class="panel panel-default info" id="options">
                            <div class="panel-heading text-center">
                                {% trans "Select additional options:" %}
                            </div>
                            <div class="panel-body">
                                <div class="col-xs-24">
                                    <div class="row option form-inline">
                                        <label class="block" id="options-0">
                                            <select class="form-control" ng-model="option_model[0]"
                                                    ng-change="change_price(option_id)" ng-options="option for option in list_options" ></select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default characteristics" id="characteristics">
                    <div class="panel-heading text-center">
                        {% trans "Characteristics:" %}
                    </div>
                    <div class="panel-body">
                        <div class="row option">
                            <div class="col-xs-12">
                                {% trans "Vendor code:" %}
                            </div>
                            <div class="col-xs-12 values">
                                {{ product.id }}
                            </div>
                        </div>
                        {% for av in product.attribute_values.all %}
                            <div class="row option">
                                <div class="col-xs-12">
                                    {{ av.attribute.name }}
                                </div>
                                <div class="col-xs-12 values">
                                    {{ av.value_as_html }}
                                </div>
                            </div>
                        {% endfor %}
                        {% iffeature "reviews" %}
                            <div class="row option">
                                <div class="col-xs-12">
                                    {% trans "Number of reviews" %}
                                </div>
                                <div class="col-xs-12 values">
                                    {{ product.num_approved_reviews }}
                                </div>
                            </div>
                        {% endiffeature %}
                    </div>
                </div>
                {% block product_description %}
                    {% if product.description %}
                        <div class="panel panel-default" id="description">
                            <div class="panel-heading text-center">{% trans "Product Description" %}</div>
                            <div class="panel-body">
                                <p>{{ product.description|safe }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}

                <div class="panel panel-default reviews" id="reviews">
                    <div class="panel-heading text-center">{% trans "Reviews:" %}</div>
                    <div class="panel-body">
                        <div class="write">
                            {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                            {% blocktrans %}
                                <a href="{{ add_review_url }}#addreview">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    Write Review
                                </a>
                            {% endblocktrans %}
                        </div>
                        <div class="row list">
                            {% iffeature "reviews" %}
                                {% block product_review %}
                                    <section>
                                        <div id="reviews" class="sub-header">
                                            {% if product.num_approved_reviews > 3 %}
                                                <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}" class="btn pull-right">{% trans "See all reviews" %}</a>
                                            {% endif %}
                                            <h2>{% trans "Customer Reviews" %}</h2>
                                        </div>
                                        {% if product.num_approved_reviews == 0 %}
                                            <p>
                                                {% if product|is_review_permitted:user %}
                                                    {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                                                    {% blocktrans %}This product does not have any reviews yet -
                                                        <a href="{{ add_review_url }}#addreview">be the first to write one</a>.
                                                    {% endblocktrans %}
                                                {% else %}
                                                    {% trans "This product does not have any reviews yet" %}.
                                                {% endif %}
                                            </p>
                                        {% else %}
                                            <ol class="list-unstyled review-list">
                                                {% for review in reviews|slice:":3" %}
                                                    <div class="col-xs-24 head">
                                                        <li>
                                                            {% include 'catalogue/partials/review.html' %}
                                                        </li>
                                                    </div>
                                                {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </section>
                                {% endblock product_review %}
                            {% endiffeature %}
                            <div class="col-xs-24">
                                <a class="pull-right more" href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}">{% trans "View all comments >>" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default reviews" id="delivery">
                    <div class="panel-heading text-center">{% trans "Shipping and payment:" %}</div>
                    <div class="panel-body">
                        {% trans "Partial information and links to the page with full information" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% with recommended_products=product.recommended_products.all|slice:":6" %}
            {% if recommended_products %}
                <div class="col-xs-24">
                    {% if recommended_products %}
                        <h2>{% trans "Recommended items" %}</h2>
                        <ul class="row">
                            {% for product in recommended_products %}
                                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                    {% render_product product %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
        {% endwith %}
        {% recently_viewed_products %}
    </div>
{% endblock main %}